
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    display: flex;
    background: #000000;
    width: 100%;
    padding-top: 15px;
    justify-content: center;
    position: relative;
    color: #36A0FF;

}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #ffffff;
    font-size: 22px;
    transition: 0.3s;
    background-color: #000000;
    font-weight: 300;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
}
.subm {
    text-decoration: none;
    display: none;
    color: #ffffff;
    font-size: 22px;
    transition: 0.3s;
    background-color: #d20808;
    font-weight: 300;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
}
.subm {
    text-decoration: none;
    display: none;
    color: #ffffff;
    font-size: 22px;
    transition: 0.3s;
    background-color: #d20808;
    font-weight: 300;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
}
.buttones{

    text-decoration: none;
    display: block;
    color: #ffffff;
    font-size: 22px;
    transition: 0.3s;
    background-color: #000000;
    font-weight: 100;
    padding-top: 5px;
    padding-bottom: 5px;    
    padding-inline: 60px;
    border-radius: 3px;
    margin-inline: 6px;
}
nav ul li a:hover,
nav ul li a.active {
    color: #ffffff;
    background-color: #3d3d3d;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  
  .menu li {
    position: relative;
  }
  
  .menu li a {
    display: block;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    padding-inline: 60px;
    text-decoration: none;
    font-weight: 700;
  }
  
  .menu li:hover > a {
    background-color: #292929;
  }
  
  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 200px;
    background-color: #000000;
    z-index: 1; 
    padding: 10px;
    text-align: center;
  }
  
  .menu li:hover > .submenu {
    display: block;
  }
  
  .submenu li a {
    padding: 5px;
    font-weight: 700;
  }
  
  .submenu li a:hover {
    background-color: #009a0a;
  }